body {
    font-family: "Arial Black Regular", sans-serif; 
}
/* set background image per page */
.index-bg {
    background: url(./img/wallpaperforwebsite.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
.info-bg {
    background: url(./img/info.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
}
.justGuts-bg {
    background: url(./img/justGuts.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}
/* Center text content on main and blog */
body,html{
    height:75%;
}

/* text */
h3{
    color: white; 
}
h5{
    color: #934434;
}
.header {
    color: #ebb830; 
    font-family: "Arial Black", "Arial Bold", sans-serif; 
    
}
/* Hover effects */
.header:hover{
    color: #ebb830; 
}
.nav-link{
    color: lightgray;
}
.nav-link:hover { 
    color: #934434;
}


.list-unstyled{
    color: white; 
}

/* Container for just guts */
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 2%;
    margin-top: 2%;
}

#current{
    text-align: center;
}

.navbar{
    background-color: white;
}

#justGuts{
    color: white;
}

#justGuts-head{
    color: white; 
}

#justGutsRow{
    margin-top: 25%;
    margin-right: 4px;
    
}
.navbar-toggler-icon {
    color: #934434
}

/* Media screens size adjust */
@media screen and (max-width: 768px) {
    .index-bg {
        background-size: auto; 
    }
    .info-bg {
        background-size: auto; 
    }
    .justGuts-bg {
        background-size: auto; 
    }
    /* this is a black icon with 50% opacity*/
    .navbar-light .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;..");
    }
    
  }
